<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <div class="close" data-dismiss="modal" aria-label="Close"><img class="img-fluid" id="closeBtnV" src="../../img/modal/close.svg" alt=""></div>
          </div>
          <div class="modal-body">
            <div class="container">
              <div class="row justify-content-center align-items-center">
                <div class="col-9">
                    {# {{ page.modal }} #}
                </div>
            </div>
        </div>
    </div>
</div>