<main class="error">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="contenido-error">
          <h1>¡oops!</h1>
          <p>La página que estás buscando no existe o cambió de dirección.</p>
          <a class="btn" id="gc-page-not-found" href="/">Ir a inicio</a>
        </div>
      </div>
    </div>
  </div>
</main>
