<main class="quienes-somos multiply" id="fullpage">
      <svg class="fullHouse" xmlns="http://www.w3.org/2000/svg" width="1148.502" height="1008.902" viewBox="0 0 1148.502 1008.902">
        <defs>
          <style>
            .cls-1 {
                fill: #ac1a2f;
                mix-blend-mode: multiply;
                isolation: isolate;
            }
          </style>
        </defs>
        <path class="cls-1" id="Trazado_508" data-name="Trazado 508" d="M1580.116-30.188l-209.673,1008.9H431.614V-30.188Z" transform="translate(-431.614 30.188)"></path>
      </svg>
      <section class="section hero">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-9">
              <h1 class="tituloH1a">{{about_us.title}}</h1>
              {{about_us.description|raw}}
            </div>
          </div>
        </div>
      </section>
      <section></section>
    </main>
