<main class="productos" id="fullpage">
	<section class="section hero">
		<div class="cabecera">
			<h1 class="tituloH1a">Productos</h1>
		</div>
		{% if categories|length >= 1 %}

			{% for categorie in categories %}
				<div class="{{categorie.url}}-btn">
					<a href="/productos/{{categorie.url}}">
						<h2 class="btn primary">{{categorie.name}}</h2>
					</a>
				</div>
			{% endfor %}

		{% endif %}
	</section>
</main>
